body{
    background-color: gray;
}

main{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin: auto;
    max-width: 800px;
    min-width: 280px;
}

img {
    width: 100%;
}