body {
    background-color:#84E1AD;
}

.cabecalho{
    background-color: #299457;
    color: white;
}

.texto-cabecalho{
    text-align: center;
}

.texto-principal{
    text-align: left;
}

.google{
    color: #299457;
    text-decoration: none;
}

.android{
    color: #299457;
    text-decoration: none;
}

p {
    text-align: justify;
}

main{
    background-color: white;
    width: 900px;
    padding: 10px;
    margin:auto ;
    box-shadow: 1px 1px 1px rgba(0, 143, 19, 0.705);
}