body{
    font-family: Arial, Helvetica, sans-serif;
}

table {
    width: 350px;
    height: 350px;
    border-collapse: collapse;
    
}

td {
    border: 1px solid black;
    padding: 8px;
    text-align: center; /*alinhamento horizontal*/
    vertical-align: top; /*alinhamento vertical*/
}

.numero {
    text-align: right;
}
